/*  ------------  GENERAL  -------------  */
body {
  margin: auto;
  font-style: Dancing Script;
  background-color: #02010a;
  font-family: 'Dancing Script', cursive ;
}
/*  ------------  FIN GENERAL  -------------  */

/*  ------------  VERSIÓN DESKTOP  -------------  */
@media screen and (min-width: 900px) {
      /*  ------------  HEADER  -------------  */
  header {
    max-width: 900px;
    margin: 0 auto;
    background-color: #5b7989;
    color: white;
    border-radius: 10px 10px 0 0 ;
  }
  .cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
  }
  .paginas {
    display: flex;
    align-items: center;
  }
  .paginas a {
    margin-right: 1em;
    color: white;
    text-decoration: none;
  }
  a {
    margin-right: 1em;
    color: black;
    text-decoration: underline;
  }
  .titulo {
    margin-left: 1em;
  }
  h1 {
    text-shadow: 2px 2px 0 #02010a;
  }
    /*  -----------------------------------  */


    /*  -----------  CONTENIDO  -----------  */
  .contenido {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    background-color: #82c3a6;
  }
  .contenedor1, .contenedor2, .contenedor3 {
    float: left;
    width: 33%;
    display: flex;
    flex-direction: column;
    /* border: 3px white solid; */
    align-items: center;
    padding: 2%;
    background-color: inherit;
  }
  #uno {
    filter: blur(10px);
  }
  #dos, #cuatro, #seis  {
    filter: grayscale(100%);
  }
  #tres {
    filter: sepia(90%);
  }
  .adaptativa-porcentaje-1 {
  	width: 100%;
    margin: 3%;
  }
  .adaptativa-porcentaje-2 {
  	width: 100%;
    margin: 3%;
  }
  .adaptativa-porcentaje-3 {
  	width: 100%;
    margin: 3%;
  }
  img[src^='image'] {
    box-shadow: 2px 2px 2px #02010a;
  }
    /*  -----------------------------------  */


    /*  ------------  FOOTER  -------------  */
  footer {
    max-width: 900px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    color: black;
    display: flex;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
  }
  .foo {
    width: 100%;
  }
  .column1, .column2, .column3, .column4 {
    float: left;
    width: 25%;
  }
    /*  -----------------------------------  */
}
/*  ------------  FIN VERSIÓN DESKTOP  -------------  */

/*  ------------  VERSIÓN MÓVIL  -------------  */
@media screen and (max-width: 899px) {
    /*  ------------  HEADER  -------------  */
  header {
    min-width: 320px;
    margin: 0 auto;
    background-color: #5b7989;
    color: white;
    border-radius: 10px 10px 0 0 ;
  }
  .cabecera {
    display: block;
  }
  .paginas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .paginas a {
    margin-right: 1em;
    color: white;
    text-decoration: none;
  }
  a {
    margin-right: 1em;
    color: black;
    text-decoration: underline;
  }
  h1 {
    text-align: center;
    text-shadow: 2px 2px 0 #02010a;
    margin: 0 auto;
  }
    /*  ------------  FIN  -------------  */


    /*  -----------  CONTENIDO  -----------  */
  .contenido {
    min-width: 320px;
    margin: 0 auto;+
    display: flex;
    background-color: #d5c75f;
  }
  .contenido .contenedor1, .contenido .contenedor2, .contenido .contenedor3 {
    display: block;
    flex-direction: column;
  }
  .adaptativa-porcentaje-1 {
    width: 95%;
    margin: 2%;
  }
  .adaptativa-porcentaje-2 {
    width: 95%;
    margin: 2%;
  }
  .adaptativa-porcentaje-3 {
    width: 95%;
    margin: 2%;
  }
  #uno {
    filter: blur(10px);
    order: 1;
  }
  #dos {
    filter: grayscale(100%);
    order: 2;
  }
  #tres {
    filter: sepia(90%);
    order: 3;
  }
  #cuatro {
    filter: grayscale(100%);
    order: 4;
  }
  #cinco {
    order: 5;
  }
  #seis {
    filter: grayscale(100%);
    order: 6;
  }
  img[src^='image'] {
    box-shadow: 2px 2px 2px #02010a;
  }
    /*  ------------  FIN  -------------  */


    /*  ------------  FOOTER  -------------  */
  footer {
    min-width: 320px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    color: black;
    display: block;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
  }
  .foo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .column1, .column2, .column3, .column4 {
    display: block;
  }
    /*  ------------  FIN  -------------  */

}
/*  ------------  FIN VERSIÓN MÓVIL  -------------  */

/*  ------------  ANIMACIÓN  -------------  */
header {
  /* animation-duration: 4s;
  animation-name: slidein; */
  animation: slidein 4s;
}
@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%
  }
}
/*  ------------  FIN ANIMACIÓN  -------------  */
